@import url('https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    text-size:30px;
    color: cyan;
    text-align: center;
    margin-top: 5px;;
}
nav{
        background-color: #262525; /* Or your desired background color */
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center; /* Vertical centering */
      }
      
      #logo {
        height: 50px; /* Adjust as needed */
      }
      logo:hover {
        filter: brightness(1.2) contrast(1.2); /* Brighten and increase contrast on hover */
      }
      
      #logo:active {
        filter: brightness(0.8) contrast(0.8); /* Darken and decrease contrast on active */
      }
      
      /* Add a color transition effect to the logo */
      #logo {
        filter: grayscale(100%); /* Convert logo to grayscale */
        transition: filter 0.3s ease;
      }
      
      #logo:hover {
        filter: grayscale(0%); /* Restore original color on hover */
      }
    
body{
    margin: 0;
    padding: 0;
    background-color:#212529;
}

  


.portfolio-container{
   display: flex;
   width: 100%;
   
}
.navlist{

    display: flex;
     height: 15vh;
    gap: 3.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;


}
.navlist li{
    list-style: none;
}
.navlist a{
    text-decoration: none;
    text-sizing:uppercase;
    font-size: 1rem;
    color:cyan;
    position: relative;
}
.leftcon ,.rightcon{
    height:100vh;
    display: flex;
    align-items: center;

    
}
.leftcon{
    

 width: 70%;
 padding-left: 3rem;
}
.rightcon{
  background:linear-gradient(#26252523 );
  width: auto;
  width:30%;

}
.icons ,.fa-brands{
    color: #bbb;
    font-size: 1.7rem;

}
.icons{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 3rem;
 
 
}
.content{
    margin-left:3rem;
    
    
}
.content ,.intro{
    font-size:1.5rem;
    color: white;
    margin: 2rem;
    padding: 3px;
    
}.content, .introspan{
    color:cyan;
}
.introspan:hover{
    color:brown
}
.content h1{
    font-size: 4rem;
    color: cyan;
}
.content p{
    color: white;
}
.btn-container button{
    
    border: .1rem solid #SDB9EE;
    font-size:1.1rem;
    
    padding:.8rem 1.5rem;
    border-radius:.5rem;
    
}
button:nth-child(1){
    background-color:#262525;
    color:cyan;
    border:2px solid white;
    transition:.5s ease;

}
button:nth-child(1):hover{
    background: transparent;
    background-color:cyan;
} 
.icons , .fa-brands:hover{
    cursor: pointer;
    background-color: blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color:blue;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50% , -50%);

}
.circle:nth-child(1){
 background:linear-gradient( 90deg ,transparent 50%,#262525 50%);
 width: 30rem;
}
.circle:nth-child(2){

    background-color: white;
    width: 25rem;
    border:.4rem solid white;
    background-image: url(priyaimg/PRIYA.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem white,
    inset 0 0 1rem white,
    0 0 2rem cyan,
    inset 0 0 2rem hwb(288 17% 11%),
    0 0 4rem cyan,
    inset 0 0 4rem cyan;


}
.circle:nth-child(2):hover{
    background-color:none;
    background-image: url(priyaimg/PRIYA.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem cyan,
    inset 0 0 1rem cyan,
    0 0 2rem cyan,
    inset 0 0 2rem #682be2,
    0 0 4rem cyan,
    inset 0 0 4rem cyan;

    
}
.navlist li a:after,.navlist .active::after{
    content:"";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left:0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;
}
.navlist li a:hover::after,.navlist .active::after{
    transform:scaleX(1) ;
    transform-origin: bottom left;
}
.about{
    padding:3px ;
}
.container{
    height:fit-content;
    width:100%;
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
    

} 
.containerleft{

 width: 30%;
 margin: 2rem;
 display: flex;
 flex-direction: row;
 justify-content: center;

 
}
.containerleft img{
    height: 550px;
    width: 400px;
    border-radius: 50px;
    border:4px solivwd blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: scale(100%,100%);
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-image: url(priyaimg/PRIYA.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem white,
    inset 0 0 1rem white,
    0 0 2rem cyan,
    inset 0 0 2rem cyan,
    0 0 4rem cyan,
    inset 0 0 4rem cyan;


}
.container img:hover{
    border:6px solid blueviolet;
}
.containerright{
    
  width: 40%;
  margin-left:200px;
  margin-top: 100px;
  
}
.about{
    color: #fff;
}
.about h1{
    color:cyan;

}
.about h3{
    color:aqua
}
.about h1,h3{
    padding:1rem;
    margin: .5rem;
    
}
.about p:hover{
    color:#3877FF;
    
}

.circlebarr{
    /* display:grid;

    place-items: center; */
    
    height: 170pxpx;
    align-items:center;
    
    
}
.row{
    width:80%;
    height: fit-content;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap:wrap;
    gap:20px;



}
.row .col .skill{

    width:150px;
    height:200px;
    position:relative;
    dispaly:grid;
    place-items: center;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    box-shadow:50px 5px 10px rgba(0,0,0,0.5),
     -5x -5px 15px rgba(0,0,0,0.5), ;
}

.row .col:nth-child(1) .skil{

    background: conic-gradient(#5DB9EE 90%,transparent 0);
   


    
   
   }
   .row .col:nth-child(2) .skil{

    background: conic-gradient(#5DB9EE 80%,transparent 0);
   
   
   
   }
   .row .col:nth-child(3) .skil{

    background: conic-gradient(#0ef 7%,transparent 0);
   
   
   
   }

   .row .col .skill::before{
    content:'';
    position: absolute;
    width:85%;
    height:85%;
    background: hsl(190, 100%, 50%);
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    box-shadow:50px 5px 10px hsla(0, 0%, 0%, 0.5),
     -5x -5px 15px  hsla(0, 0%, 0%, 0.5);
   

   }
   .row .col .skill .content{
     color:#3d08ff;
     position: absolute;
     font-size: 25px;
     text-align: center;

    user-select: none;




   }
   .row .col .skill .content{
    display:block;
    padding:5px 0;
    letter-spacing: 2px;
   }


  .con{
    
      margin: 0;
      padding: 0;
      height: 1000px;
    
    


  }
  .containerrr{
    margin:60px auto;
    width:400px;
    text-align: c
    height:100px;
    

  }
  .containerrr.progress{
    margin:0 auto;
    width:400px;

  }
  .progress{

    padding:4px;
    background:violet;
    border-radius: 6px;
    -webkit-box-shadow:inset 0 1px 2px #00000040,0 1px #fffff14;
    box-shadow:inset 0 1px 2px #00000040,0 1px #eeeeee14;


  }
  .progress-bar{
    height:16px;
    border-radius:4px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width,
    background-color;
    -o-transition-property:width,
    background-color;
    transition-property:width,background-color;

  }

  #five:checked ~ .progress >
  .progress-bar {

    width:5%;
    background-color: #f63a0f;
  }
  #twentyfive:checked ~ .progress >

  .progress-bar
  {

    width:25%;
    background-color:hwb(323 7% 5%) ;

  }
  #fefty:checked ~ .progress >

  .progress-bar
  {

    width:50%;
    background-color: hwb(28 7% 5%);

  }
  #seventyfive:checked ~ .progress >

  .progress-bar
  {

    width:75%;
    background-color: hwb(272 7% 5%);

  }
  #onehundred:checked ~ .progress >

  .progress-bar
  {

    width:100%;
    background-color: hwb(147 7% 5%);

  }
  .radio{
    display:inline-block;
  }
  .label{
    display:block;
    margin0 5px 20px;
    padding:3px 8px;
    color:#aaa;
    text-shadow:0 1px black;
    border-radius:3px;
    cursor:pointer;
  }
  .radio:checked + .label{
    color:white;
    background-color: #0ef;
  }

  
   .circleee{
    height:100vh;
    background: violet;
    display:flex;
   

  } 
  .circleeeee{ 
display:flex;
align-items: center;
justify contact:center;
position:relative;
height:220px;
border-radius:50% ;
    
background:conic-gradient(rgb(17,255,8) ) 30deg,rgba(0,0,0,0,.1);

  
box-shadow:-3px -3px 8px -1px rgba(255,255,255,0.63);



  } 

  .circleeeee::before{
    content:"";
    position:absolute;
    height:195px
    width:195px;
    border-radius:50%;

  } 


/* service section */
.service{
    height:1200px;
    width:100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2;
    align-items: center;
    margin-bottom: 12; 
    text-align: center;

}
/* .service h1{
    font-size: 60px;
    
    text-align: center;

} */
.service .box1{
    height:100%;
    width:30vw;
    color:white;

    border: 4px solid hsl(357, 81%, 49%);
    margin:2px;
    align-items:center;
    justify-content: space-between;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;

}
.box1 h1{
    font-size: medium;
    color:#0ef;
}
.box1 p{
    text-align: center;

}
.box1 button{
    
     margin-top: 60px;
     align-items: center;
     margin-bottom:10%
    
}
.box1 button:hover{
    border-radius: 10px;
    padding:20px;
    text-emphasis: 40;
}
.service  .box1:hover{
    box-shadow: blue;
    
    radius: 20px solid rgb(91, 42, 165);
    width:400px;
    height:400px;
    background-color:#a81c70;
    box-shadow:0px 0px 0px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem white,
    inset 0 0 1rem white,
    0 0 2rem hsl(134, 76%, 53%),
    inset 0 0 2rem cyan,
    0 0 4rem rgb(43, 55, 226),
    inset 0 0 4rem cyan;
}
.service .box1 p:hover{
    color: black;

}
 .latestproject {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .latestproject h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .latestproject {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
  }
  .box111 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    width: 100%;
    background-color: #212529;
    padding: 20px;
    border-radius: 10px;
  }
  .box111 h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  

.latest .box111 img{
    
 

    height:100vh;
    width:30vw;

      
    margin:2px;
    align-items:center;
    justify-content: space-between;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
border: 4px solid blue;


}
.latest .box112 img{
    
 

    height:100vh;
    width:30vw;

      
    margin:2px;
    align-items:center;
    justify-content: space-between;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    


}
.latest .box1113 img{
    
 

    height:100vh;
    width:30vw;

      
    margin:2px;
    align-items:center;
    justify-content: space-between;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;


}
.box1 h1{
    font-size: medium;
    color:#0ef;
}
.box1 p{
    text-align: center;

}
.box1 button{
    
     margin-top: 60px;
     margin-left: 40%;
     margin-bottom:10%
    
} 

.latestproject  .box111:hover{
    box-shadow: blue;
    
    radius: 20px solid rgb(91, 42, 165);
    width:400px;
    height:400px;
    background-color:#a81c70;
    box-shadow:0px 0px 0px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem white,
    inset 0 0 1rem white,
    0 0 2rem hsl(134, 76%, 53%),
    inset 0 0 2rem cyan,
    0 0 4rem rgb(43, 55, 226),
    inset 0 0 4rem cyan;
}
.latestproject  .box1112:hover{
    box-shadow: blue;
    
    radius: 20px solid rgb(91, 42, 165);
    width:400px;
    height:400px;
    background-color:#a81c70;
    box-shadow:0px 0px 0px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem white,
    inset 0 0 1rem white,
    0 0 2rem hsl(134, 76%, 53%),
    inset 0 0 2rem cyan,
    0 0 4rem rgb(43, 55, 226),
    inset 0 0 4rem cyan;
}
.latestproject  .box1113:hover{
    box-shadow: blue;
    
    radius: 20px solid rgb(91, 42, 165);
    width:400px;
    height:400px;
    background-color:#a81c70;
    box-shadow:0px 0px 0px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem white,
    inset 0 0 1rem white,
    0 0 2rem hsl(134, 76%, 53%),
    inset 0 0 2rem cyan,
    0 0 4rem rgb(43, 55, 226),
    inset 0 0 4rem cyan;
}
.latestproject  .box1114:hover{
    box-shadow: blue;
    
    radius: 20px solid rgb(91, 42, 165);
    width:400px;
    height:400px;
    background-color:#a81c70;
    box-shadow:0px 0px 0px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem white,
    inset 0 0 1rem white,
    0 0 2rem hsl(134, 76%, 53%),
    inset 0 0 2rem cyan,
    0 0 4rem rgb(43, 55, 226),
    inset 0 0 4rem cyan;
}
.latestproject  .box1115:hover{
    box-shadow: blue;
    
    radius: 20px solid rgb(91, 42, 165);
    width:400px;
    height:400px;
    background-color:#a81c70;
    box-shadow:0px 0px 0px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem white,
    inset 0 0 1rem white,
    0 0 2rem hsl(134, 76%, 53%),
    inset 0 0 2rem cyan,
    0 0 4rem rgb(43, 55, 226),
    inset 0 0 4rem cyan;
}
.latestproject  .box1116:hover{
    box-shadow: blue;
    
    radius: 20px solid rgb(91, 42, 165);
    width:400px;
    height:400px;
    background-color:#a81c70;
    box-shadow:0px 0px 0px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem white,
    inset 0 0 1rem white,
    0 0 2rem hsl(134, 76%, 53%),
    inset 0 0 2rem cyan,
    0 0 4rem rgb(43, 55, 226),
    inset 0 0 4rem cyan;
}
.latestproject .box11117 p:hover{
    color: black;

}













.con{
    
}
.contactclass{
    min-height: 100vh;
    background-color:white;
    padding: 50px;
    text-align: center;

}
.contact-container{
    max-width: 800px;
    margin: 0 auto;

}
.h1class{
    text-align: center;
    margin-bottom: 30px;
    color:red;
    font-size: 40px;

}
.contact-container h2{
    font-size: 36px;
     margin-bottom: 8px ;
    color:#fff;
    
    

}


.contact-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: cyan;
     
     
    
}
.contact-form{
    text-align: left;

}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color:cyan;
}
.form-group{
    margin-bottom: 30px;
}
input,textarea{
    width:100%;
    padding: 12px;
    border-radius: 8px;
    background-color:#0ef;
}
input:focus,textarea:focus{
    outline:none;
    box-shadow:0 0 8px #0ef;
}
button{
    display:inline-block;
    padding:12px 24px;
    background-color:blue;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
button:hover{
    
    background-color: rgba(255, 0, 0, 0.489);
    

}
.contact-info{
    text-align: left;
    margin-bottom:auto;
    padding: auto;
   
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color:blueviolet;

}
.contact-info p{
    margin: 10px;
    color: cyan;
}
.contact-info i{
    color:blue;
    margin:10px
}
.contact-info i:hover{
    border: 4px solid blue;

}
.contact-info p:hover{
 text-shadow: white;
 color: red;

}
@media screen and(max-width: 768px){
 .containerclass{
    padding: 20px;
 }
 .contact-wrapper{
    grid-template-columns:1fr ;
 }
 }

.footercontainer{
    width:100%;
    padding: 70px 30px 20px;
    margin: 0;
    padding: 0;
}
.socialicons{
    display:flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding:10px;
    background-color:white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 200;
    color: aqua;
    opacity: 0.9;
}
.socialicons a:hover{
    color:blue;
    transition: 0.5s;
}
.socialicons a:hover i{
    color: blue;
    transition: 0.5s ease-in-out;
}
.footerbottom{
    text-align: center;
    margin-top: 10px;
    background-color: brown;
}
.footerbottom{
    color:blue;
    margin: 0;
    padding: 0;
}
.footerbottom p span{
    color:cyan;

}
@media screen and{
    max-width: 768px;
}
 .socialicons a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
  {
    
}
@media (max-width: 992px)
{
    .portfolio-container {
      flex-direction: column;
    }
    .portfolio-container .leftcon {
      margin-bottom: 20px;
    }
    .about {
      flex-direction: column;
    }
    .about .container {
      flex-direction: column;
    }
    .about .containerleft,
    .about .containerright {
      margin-bottom: 20px;
    }
    .project .latestproject {
      flex-direction: column;
    }
    .contact-container {
      flex-direction: column;
    }
    .contact-wrapper,
    .contact-info {
      margin-bottom: 20px;
    }
    .footercontainer {
      flex-direction: column;
    }
  }
  @media (max-width: 768px) {
    .navlist {
      flex-direction: column;
    }
    .navlist li {
      margin-bottom: 10px;
    }
  }
  @media (max-width: 576px) {
    .portfolio-container {
      padding: 10px;
    }
    .portfolio-container .leftcon {
      padding: 0;
    }
    .portfolio-container .rightcon {
      padding: 0;
    }
    .circlebarr {
      flex-direction: column;
    }
    .row {
      flex-direction: column;
    }
    .col {
      margin-bottom: 20px;
    }
    .service {
      flex-direction: column;
    }
    .box1 {
      margin-bottom: 20px;
    }
    .project .latestproject {
      flex-direction: column;
    }
    .box111 {
      margin-bottom: 20px;
    }
    .contact-container {
      flex-direction: column;
    }
    .contact-wrapper,
    .contact-info {
      margin-bottom: 20px;
    }
  }


    








